name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: First Deliverables
      id: first-deliverables
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: First Deliverables
        setup-command: ''
        command: gradle test --tests *FirstDeliverableTests
        timeout: 1
        max-score: 1
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        FIRST-DELIVERABLES_RESULTS: "${{steps.first-deliverables.outputs.result}}"
      with:
        runners: first-deliverables
